@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

body {
  background: url("../img/bg.jpg"), #EEEDEF;
  color: #00171F;
}

a {
  text-decoration: none;
  color: #00171F;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.hero-scroll {
  position: absolute;
  bottom: 50px;
}

.hero-scroll svg {
  height: 30px;
  width: auto;
}

.hero-bg {
  position: absolute;
  top: 20%;
  left: 20%;
  height: 270px;
  width: 270px;
  background: radial-gradient(167.76% 167.76% at 50% 50%, #5111BA 0%, #EEEDEF 100%);
  filter: blur(250px);
  z-index: 1;
  opacity: .7;
}

.hero h1 {
  font-size: 48px;
  max-width: 90%;
  text-align: center;
  margin: 0 auto;
  margin: 20px 0;
}

.hero h3 {
  font-size: 24px;
}

.works {
  margin: 50px 0;
  min-height: 100vh;
}

.works-block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.works-item {
  width: 100%;
  margin-bottom: 15px;
}

.works-item:hover p {
  text-decoration: underline;
}

.works-item__img {
  width: 100%;
  aspect-ratio: 16/9;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.works-item__title {
  font-size: 18px;
  text-align: center;
  max-width: 90%;
  height: 30px;
  margin: 0 auto;
}

@media screen and (max-width: 1280px) {
  .container {
    width: 1000px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 700px;
  }
  .works-block {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero-bg {
    height: 150px;
    width: 150px;
  }
  .works-block {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .hero h1 {
    font-size: 24px;
  }
  .hero h3 {
    font-size: 16px;
  }
}
